/* BURGER */
#wrap
{
    margin: 0;
}
  
#wrap 
{
    font-family: sans-serif;
    font-size: 21px;
    display: flex;
    position: fixed;
    line-height: 1.6;
    margin: 0;
    display: flex;
    color: white;
    transition: transform .4s cubic-bezier(.25, .1, .25, 1);
    
}
  
#wrap:not(:target) 
{
    transform: translate3d(-295px, 0, 0);
    z-index: 5;
}
  
  #wrap:target {
    transform: translate3d(0, 0, 0);
    z-index: 5;
}

#open, #close 
{
    min-height: 1200;
    text-align: right;
    display: block;
    margin-right: -30px;
    z-index: 5;
}
  
#wrap:target #open, #wrap:not(:target) #close
{
    display: none;
    z-index: 5;
}
  
  #wrap:target #open 
{
    display: none;
    z-index: 5;
}
  
.nav a 
{
    color: white;
    text-decoration: none;
    display: block;
    align-self: auto;
    z-index: 5;
}
.nav p
{
    height: 2560px;
    z-index: 5;
}

.header 
{
    background: #1B263B;
    width: 360px;
    padding: 0 20px;
    display:inline-block;
    vertical-align:top;
    z-index: 5;
}
  
.nav 
{
    padding: 25px;
}
  
.main 
{
    padding: 25px;
    flex: 1;
    display:inline-block;
    z-index: 5;
}
